---
	import Layout from '../layouts/Layout.astro';
	import MenuSelector from '../components/vue/MenuSelector.vue';
	import SelectedPokemon from '../components/vue/SelectedPokemon.vue';
---

<Layout title="Pokemon Selector">
	<main>
		<SelectedPokemon client:load/>
		<MenuSelector client:load/>
	</main>
</Layout>

<style>
	main{
		@apply flex flex-col items-center bg-[#1D267D] max-w-lg my-0 mx-auto rounded-xl p-5;
	}
</style>
